<!DOCTYPE html>
<html lang="en">
    <nav class="navbar navbar-expand-lg main-navbar">
        <a class="navbar-brand navbar-button" href="{% url 'web:index' %}">Home</a>
        <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item navbar-button">
                    <a class="nav-link" href="{% url 'web:about' %}">About Me</a>
                </li>
                <li class="nav-item navbar-button">
                    <a class="nav-link" href="{% url 'web:blog' %}">Blog</a>
                </li>
                <li class="nav-item navbar-button">
                    <a class="nav-link" href="{% url 'web:contact' %}">Contact Me</a>
                </li>
                <li class="nav-item navbar-button">
                    <a class="nav-link" href="{% url 'web:guest-book' %}">Guest Book</a>
                </li>
                <li class="nav-item navbar-button">
                    <a class="nav-link" href="{% url 'schedule:schedule-form' %}">Schedule Form</a>
                </li>
                <li class="nav-item navbar-button">
                    <a class="nav-link" href="{% url 'schedule:schedule-list' %}">Schedule List</a>
                </li>
            </ul>
        </div>
    </nav>
</html>