{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>My Friends</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/friends_profile.css' %}">
</head>
<body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column" id="sayid_profile">
        <div class="sayid-image">
            <img id="sayid-image" src="{% static 'images/sayid.jpg' %}" alt="sayid's photo">
        </div>
        <span class="lead sayid-description border">
            <article> His name is {{ sayid_name }}. </article>
            <article> His age is {{ sayid_age }}.</article>
            <article> He's currently studying as a computer science student at University of Indonesia.
                with student number {{ sayid_npm }}.</article>
            <article> He likes to {{ sayid_hobby }}. </article>
            <a href="{% url 'story_1:index' %}">Back to my profile</a> <br>
        </span>
    </div>

    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column" id="nuga_profile">
        <div class="nuga-image">
            <img id="nuga-image" src="{% static 'images/nuga.jpg' %}" alt="nuga's photo">
        </div>
        <span class="lead nuga-description border">
            <article> His name is {{ nuga_name }}. </article>
            <article> His age is {{ nuga_age }}.</article>
            <article> He's currently studying as a computer science student at University of Indonesia.
                with student number {{ nuga_npm }}.</article>
            <article> He likes to {{ nuga_hobby }}. </article>
            <a href="{% url 'story_1:index' %}">Back to my profile</a> <br>
        </span>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>