{% extends 'layout/base.html' %}
{% load static %}
<!doctype html>
<html lang="en">
    {% block title %}
        Farhan Azmi - Blog
    {% endblock title %}

    {% block content %}
        <div class="main-div">
            <div>
                <h1 class="text-main">Blog</h1>
            </div>

            <div class="container mx-auto d-block article-div">
                <div class="row">
                    <div class="col">
                        <img class="article-cover" src="{% static 'images/programming_language.jpeg' %}" alt="programming-language"
                        width="320px" height="200px">
                    </div>
                    <div class="col article-desc">
                        <h3>Best Programming Languages To Learn In 2018</h3>
                        <a href="#"><h4>Read the full story</h4></a>
                    </div>
                </div>
            </div>

            <div class="container mx-auto d-block article-div">
                <div class="row">
                    <div class="col">
                        <img class="article-cover" src="{% static 'images/videogames.jpg' %}" alt="video-game">
                    </div>
                    <div class="col article-desc">
                        <h3>Best Video Games To Play In 2018</h3>
                        <a href="#"><h4>Read the full story</h4></a>
                    </div>
                </div>
            </div>

        </div>
    {% endblock content %}
</html>