{% extends 'layout/base.html' %}
{% load static %}
<!doctype html>
<html lang="en">
    {% block title %}
        Farhan Azmi - Contact Me
    {% endblock %}

    {% block content %}
        <div class="main-div">
            <div>
                <h1 class="text-main">Contact Me</h1>
            </div>

            <div class="container mx-auto d-block">
                <form class="form-block">
                    <div class="form-group">
                        <label for="input-name" class="form-label">Nama Anda</label>
                        <input class="form-control" id="input-name" placeholder="Masukkan nama Anda">
                        <label for="input-email" class="form-label">Email Anda</label>
                        <input class="form-control" id="input-email" aria-describedby="emailHelp" placeholder="Masukkan email Anda" type="email">
                        <label for="input-subject" class="form-label">Subjek Pesan</label>
                        <input class="form-control" id="input-subject" placeholder="Masukkan subjek pesan" type="text">
                        <label for="input-message" class="form-label">Pesan Anda</label>
                        <textarea class="form-control" id="input-message" type="text" placeholder="Masukkan pesan Anda"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Kirim Pesan</button>
                </form>
            </div>
        </div>
    {% endblock %}
</html>