{% extends 'layout/base.html' %}
{% load static %}
<!doctype html>
<html lang="en">
    {% block content %}
        <div class="main-div">
            <div class="image-div">
                <img class="mx-auto d-block jumbotron-image" src="{% static 'images/jumbotron.png' %}">
            </div>

            <div class="border-line-main"></div>

            <div>
                <h1 class="text-main">Welcome To My Website</h1>
                <h3 class="text-sub">I'm Farhan, an aspiring web developer from Jakarta.</h3>
            </div>

            <div class="border-line-main"></div>

            <div>
                <h1 class="projects-text">My Projects</h1>
            </div>

            <div class="border-line-sub"></div>

            <div class="container mx-auto d-block project-div">
                <div class="row">
                    <div class="col">
                        <a class="fuki-logo project-logo" href="{% url 'web:lpj' %}" title="fuki-logo"></a>
                    </div>
                    <div class="col project-desc">
                        LPJ Online FUKI Fasilkom UI 2018
                    </div>
                </div>
        </div>

        <div class="border-line-sub"></div>

        <div class="container mx-auto d-block project-div">
            <div class="row">
                <div class="col">
                    <a class="rumbuk-logo project-logo" href="{% url 'web:rumbuk' %}" title="rumbuk-logo"></a>
                </div>
                <div class="col project-desc">
                    Rumah Buku FUKI Fasilkom UI 2018
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
</html>