{% extends 'layout/base.html' %}
{% load static %}
<!doctype html>
<html lang="en">
    {% block title %}
        Farhan Azmi - LPJ Online
    {% endblock title %}

    {% block content %}
        <div class="main-div">
            <div>
                <h1 class="text-main">LPJ Online Fasilkom UI</h1>
            </div>

            <div class="border-line-sub"></div>

            <div class="container mx-auto d-block" style="margin: 20px;">
                <div class="row">
                    <div class="col">
                        <img class="lpj-image" src="{% static 'images/static_lpj_images_logo-fuki.png' %}" alt="fuki-logo">
                    </div>
                    <div class="col project-desc">
                        <p>Online LPJ website for FUKI Fasilkom UI.</p>
                        <p>I worked as...</p>
                        <p><em><u>Back-End Developer</u></em></p>
                    </div>
                </div>
            </div>
        </div>
    {% endblock content %}
</html>