{% extends 'layout/base.html' %}
{% load static %}
<!doctype html>
<html lang="en">
    {% block title %}
        Farhan Azmi - Rumbuk
    {% endblock %}

    {% block content %}
        <div class="main-div">
            <div>
                <h1 class="text-main">Rumah Buku Fasilkom UI</h1>
            </div>

            <div class="border-line-sub"></div>

            <div class="container mx-auto d-block" style="margin: 20px;">
                <div class="row">
                    <div class="col">
                        <img class="rumbuk-image" src="{% static 'images/jumbotronRUMBUK-01.png' %}" alt="rumbuk-logo" width="400px" height="300px" style="border-radius: 30px;">
                    </div>
                    <div class="col project-desc">
                        <p>Library website for FUKI Fasilkom UI.</p>
                        <p>I worked as...</p>
                        <p><em><u>Product Owner</u></em></p>
                        <p><em><u>Back-End Developer</u></em></p>
                    </div>
                </div>
            </div>
        </div>
    {% endblock content %}
</html>