{% extends 'layout/base.html' %}
{% load static %}
<!DOCTYPE html>
<head>
    {% block title %}
        Farhan Azmi - My Schedule Form
    {% endblock %}
</head>

<body>
    {% block content %}
        <div class="main-div">
            <div>
                <h1 class="text-main">Form Jadwal kegiatan</h1>
            </div>

            <div class="container mx-auto d-block">
                <form class="form-block" action="{% url 'schedule:schedule-form' %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        {{ form }}
                    </div>
                    <button type="submit" class="btn btn-primary">Input Jadwal Kegiatan</button>
                </form>
            </div>
        </div>
    {% endblock %}
</body>