{% extends 'layout/base.html' %}
<!DOCTYPE HTML>
{% block title %}
    Farhan Azmi - Daftar Jadwal
{% endblock title %}

{% block content %}
    <div class="main-div">
        <div>
            <h1 class="text-main">Data Jadwal kegiatan</h1>
        </div>

        <div class="container mx-auto d-block">
            {% if schedule %}
                <table class="table table-hover table-striped table-dark" align="center" style="text-align: center">
                    <thead>
                        <tr>
                            <th scope="col">Nama Kegiatan</th>
                            <th scope="col">Tempat Kegiatan</th>
                            <th scope="col">Kategori Kegiatan</th>
                            <th scope="col">Jadwal kegiatan</th>
                        </tr>
                    </thead>
                    {% for data in schedule %}
                        <tr>
                            <td scope="row">{{ data.name }}</td>
                            <td scope="row">{{ data.place }}</td>
                            <td scope="row">
                                {% if data.category %}
                                    {{ data.category }}
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                            <td scope="row">
                                {{ data.time|date:"l" }}, {{ data.time }}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
                <form action="{% url 'schedule:schedule-delete' %}" method="post">
                    {% csrf_token %}
                    <button class="btn btn-danger" type="submit" style="margin-bottom: 10px">Hapus Semua Kegiatan</button>
                </form>
            {% else %}
                <h1 class="text-main">Tidak Ada Jadwal Kegiatan</h1>
            {% endif %}


            <button class="btn btn-info btn-primary" style="margin-bottom: 10px">
                <a href="{% url 'schedule:schedule-form' %}">Kembali ke Form</a>
            </button>
        </div>
    </div>
{% endblock content %}